{% extends "::adminBase.html.twig" %}

{% block rightcol %}
							<div class="adminTitle">
								Aggiungi Gelateria
							</div>
							<div class="bloccoAdmin">
								<form name="nuovaGelateria" action="{{url ('add_gel2') }}" method="get">
									<input type="hidden" name="requestedPage" value="aggiungiGelateria2" />
									<h4>Aggiungi Nuova Gelateria</h4>
									<input type="text" name="nuovaGelName" placeholder="Nome gelateria" required /><br />
									<label for="nuovaGelCity">Seleziona la citt&agrave;</label><br />
									<select name="nuovaGelCity"><?php crea_elenco($cities) ?></select><br />
									<label for="nuovaGelAddress">Inserisci l'indirizzo</label><br />
									<input type="text" name="nuovaGelAddress" placeholder="Indirizzo nuova gelateria" required /><br />
									<label for="nuovaGelTel">Inserisci recapito telefonico</label><br />
									<input type="tel" name="nuovaGelTel" /><br />
									<label>Indica giorni di apertura:</label>
									<label for="lunedi">Lun<input type="checkbox" name="lun" value=1 /></label>
									<label for="lunedi">Mar<input type="checkbox" name="mar" value=1 /></label>
									<label for="lunedi">Mer<input type="checkbox" name="mer" value=1 /></label>
									<label for="lunedi">Gio<input type="checkbox" name="gio" value=1 /></label>
									<label for="lunedi">Ven<input type="checkbox" name="ven" value=1 /></label>
									<label for="lunedi">Sab<input type="checkbox" name="sab" value=1 /></label>
									<label for="lunedi">Dom<input type="checkbox" name="dom" value=1 /></label>
									<br /><br />
									<span>1/2</span><input class="submitButton" type="submit" value="CONTINUA" />
								</form>
							</div>
{% endblock %}
