{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">
			Aggiungi Gelateria
		</div>
		<div class="bloccoAdmin" >
			<form name="nuovaGelateria"  action="<?= $_SERVER['PHP_SELF']."?requestedPage=aggiungiGelateria" ?>" method="post" >
				<label for="filtra">Filtra per lettera</label>
				<select class="filter" name="filtra">
					<option>A</option>
					<option>B</option>
					<option>C</option>
				</select>
				<input type="hidden" name="nuovaGelName" value="<?php $_POST['nuovaGelName'] ?>" />
				<input type="hidden" name="nuovaGelRegion" value="<?php $_POST['nuovaGelRegion'] ?>" />
				<input type="hidden" name="nuovaGelProvince" value="<?php $_POST['nuovaGelProvince'] ?>" />
				<input type="hidden" name="nuovaGelCity" value="<?php $_POST['nuovaGelCity'] ?>" />
				<input type="hidden" name="nuovaGelAddress" value="<?php $_POST['nuovaGelAddress'] ?>" />
				<input type="hidden" name="nuovaGelTel" value="<?php $_POST['nuovaGelTel'] ?>" />
				<div id="tuttiIGusti">
					<div class="containerGusti">
						<h3>A</h3>
						<label><input type="checkbox" name="albicocca" />Albicocca</label>
						<label><input type="checkbox" name="Amarena" />Amarena</label>
						<label><input type="checkbox" name="Amarena" />Amarena</label>
						<label><input type="checkbox" name="arancia" />Arancia</label>
						<label><input type="checkbox" name="arancia" />Arancia</label>
						<label><input type="checkbox" name="arancia" />Arancia</label>
						<label><input type="checkbox" name="arancia" />Arancia</label>
						<label><input type="checkbox" name="arancia" />Arancia</label>
					</div>
					<div class="containerGusti">
						<h3>B</h3>
						<label><input type="checkbox" name="Bacio" />Bacio</label>
						<label><input type="checkbox" name="Banana" />Banana</label>
						<label><input type="checkbox" name="Biscotto" />Biscotto</label>
						<label><input type="checkbox" name="arancia" />Biscotto</label>
						<label><input type="checkbox" name="arancia" />Biscotto</label>
						<label><input type="checkbox" name="arancia" />Biscotto</label>
						<label><input type="checkbox" name="arancia" />Biscotto</label>
						<label><input type="checkbox" name="arancia" />Biscotto</label>
						<label><input type="checkbox" name="arancia" />Biscotto</label>
					</div>
					<div class="containerGusti">
						<h3>C</h3>
						<label><input type="checkbox" name="Cacao" />Cacao</label>
						<label><input type="checkbox" name="Caffe" />Caffe</label>
						<label><input type="checkbox" name="Caramello" />Caramello</label>
						<label><input type="checkbox" name="Cioccolata" />Cioccolata</label>
						<label><input type="checkbox" name="Cocco" />Cocco</label>
						<label><input type="checkbox" name="Crema">Crema</label>
						<label><input type="checkbox" name="arancia" />Crema</label>
						<label><input type="checkbox" name="arancia" />Crema</label>
					</div>
					<span>2/2</span><input class="submitButton" type="submit" value="AGGIUNGI" onclick="alert('Nuova gelateria inserita con successo')" />
				</div>
			</form>
		</div>
{% endblock %}
