{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">Gestisci Amministratori</div>
<div class="bloccoAdmin">
  <form name="newAdmin" action="addAdmin" method="post">
    <h4>Nomina nuovo amministratore</h4>
    <select name="idToAdd">
    {% for utente in utenti %}
      <option value="{{utente.id}}">{{utente.email}}</option>
    {% endfor %}
    </select>
    <input class="submitButton" type="submit" value="NOMINA" />
  </form>
</div>
<div class="bloccoAdmin">
  <form name="delAdmin" action="delAdmin" method="post">
    <h4>Rimuovi amministratore</h4>
    <select name="idToDel">
    {% for admin in admins %}
      <option value="{{admin.id}}">{{admin.email}}</option>
    {% endfor %}
    </select><br />
    <input class="submitButton" type="submit" value="RIMUOVI" />
  </form>
</div>
{% endblock %}
