{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">
	Database Gusti
</div>
<div class="bloccoAdmin">
	<form name="eliminaGusto" action="<?=$_SERVER['PHP_SELF']."?requestedPage=eliminaGusti" ?>" method="post">
		<h4>Seleziona il gusto da eliminare</h4>
		<select name="flavourToDelete">
			<?php crea_elenco($gusti) ?>
		</select>
		<input class="submitButton" type="submit" value="ELIMINA" onclick="alert('Gusto eliminato con successo')" />
	</form>
</div>
{% endblock %}
