{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">Esito operazione</div>
  <div class="bloccoAdmin">
    <h4 id="success">Operazione non riuscita!</h4>
  </div>
<div>
{% endblock %}
