{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">Modifica Dati Gelaterie</div>
<div class="bloccoAdmin">
	<h4>Indica la gateria da modificare</h4>
	<select id="regToModify">
		<option>Seleziona la Regione</option>
		{%for regione in regioni %}
			<option value="{{regione.id}}">{{regione.nomeRegione}}</option>
		{% endfor %}
	</select><br />
	<div id="selProvincia">
		<select disabled onclick="alert('Selezionare una regione')">
			<option>Seleziona la Provincia</option>
		</select>
	</div>
	<div id="selCity">
		<select disabled onclick="alert('Selezionare una provincia')">
			<option>Seleziona la Citt&agrave;</option>
		</select>
	</div>
	<div id="selGel">
		<select disabled onclick="alert('Selezionare una citt&agrave;')'">
			<option>Gelateria da Modificare</option>
		</select>
			<input class="submitButton" type="submit" value="MODIFICA" onclick="alert('Devi selezionare una gelateria')" />
	</div>
</div>
{% endblock %}
