{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">
	Database Gusti
</div>
<form name="modificaGusto" action="" method="post">
	<div class="bloccoAdmin">
			<h4>Gusto da modificare:</h4>
			<select name="flavourToModify" id="selectFlavourToModify">
				<option>Seleziona</option>
				{% for gusto in gusti %}
				<option value="{{gusto.id}}">{{ gusto.nomeGusto }}</option>
				{% endfor %}
			</select>

		<div class="bloccoAdmin bloccoGusto" id="formGusto">
			<!--qui ci dovrebbe andare il form-->
		</div>
	</div>
</form>
{% endblock %}
