<select name="city" id="hpCitySelect">
  <option value=0>Citt&agrave;</option>
  {% for city in cities %}
  <option value="{{city.id}}">{{city.nomeCitta}}</option>
  {% endfor %}
</select><br />
