{% extends 'base.html.twig' %}
{% extends 'settings_base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="http://www.marcolanci.it/icequi/css/stileFooter.css" />
<style>
	html{
			 overflow-y: auto;
			 }
</style>
{% endblock %}

{% block body %}
<div class="impostazionimain">
	<h3>IMPOSTAZIONI ACCOUNT</h3>
	<div class="impwrap">
		<nav>
			<p id="changePsw" class="<?= gelatoCambioPsw() ?>"><a href="<?= $_SERVER['PHP_SELF']."?requested_function=cambioPassword"; ?>">CAMBIO PASSWORD</a></p>
		</nav>
		<section>
			<form method="post">
				<input type="password" value="jsdhfusd" placeholder="Vecchia password" required="required" name="oldpsw"><br/>
				<input type="password" placeholder="Nuova password" required="required" name="newpsw"><br/>
				<input type="password" placeholder="Reinserisci password" required="required" name="repsw"><br/>
				<input type="submit" value="CAMBIA" class="submitButton">
			</form>
		</section>
	</div>
</div>
{% endblock %}
