{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('css/stileFooter.css')}}" />
{% endblock %}

{% block body %}
<div id="policymain">
	<h3>CHI SIAMO</h3>
  	<h4>CHI SIAMO?</h4>
		<p>Siamo Marco e Giacomo</p>
		<h4>COSA FACCIAMO</h4>
		<p>Boooo</p>
</div>
{% endblock %}
