<select id="selectCitta" class="segnalacitta" name="citta">
    <option>Seleziona Citt&agrave;</option>
    {% for city in cities %}
    <option value="{{city.id}}">{{city.nomeCitta}}</option>
    {% endfor %}
</select>
<div id="segnalaform">
  <input type="text" name="nome" placeholder="Nome della gelateria." class="segnalainput" required="required" >
  <input type="text" name="via" placeholder="Via." class="segnalainput" required="required" >
  <input type="tel" name="telefono" placeholder="Telefono" class="segnalainput"  ><br/>
  <div id="formsegnala">
    <textarea name="raccontaci" placeholder="Raccontaci quali gusti hai provato!"></textarea><br />
    <input type="submit" value="INVIA" class="submitButton segnalaButton" method="POST"  onclick="Segnalazione inviata con successo">
  </div>
</div>
